@charset "utf-8";
/* CSS Document */

/*Shorthand notes */
/* FONTS */

/* You need to supply at least font-size and font-family for the shorthand to work, otherwise it'll just be a syntax error and do nothing

syntax:
body {
  font: font-style font-variant font-weight font-size/line-height font-family;
}*

Translated:
body {
  font: italic small-caps normal 13px/150% Arial, Helvetica, sans-serif;
}/

body {font: normal 13px/150% "Open Sans", Helvetica, Arial, sans-serif}

*/


body {font: normal 13px/150% "Open Sans", Helvetica, Arial, sans-serif}

/* Headings */
h1, h2, h3, h4, h5, h6
{font-family:"Montserat", "kaffeesatz", Helvetica, Sans-Serif}

h1 {font-size: 2em;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.6em;}
h4 {font-size: 1.3em;}
h5 {font-size: 1em}
h6 {font-size: .95em;}

/* Images */

img.floatleft






